# Node.js
node_modules/

# 本地配置（如有敏感信息建议忽略）
config.*.json

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器/系统文件
.DS_Store
.idea/
.vscode/

# 运行/临时文件
*.log
*.tmp

tmp/
test/
config.json
*.token_cache.json



# 使用项目请删掉这里
DSL/
prompts/
logs/